/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 5px solid #000000;
}

.footer-container,
.main aside {
    border-top: 20px solid #260101;
}

.header-container,
.footer-container,
.main aside {
    background: #730202;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    /*margin-bottom: 10px;*/
    border-bottom: black 1px solid;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #A60303;
    transition: 0.2s ease-in-out; /*animerar lite fint*/
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline; 
        background: #D90416;
}
/*BAKGRUNDEN*/
    .main-container {
    background-image: url(../images/bakgrund.jpg);
    background-image: url(../images/bakgrund.jpg), url(../images/bakgrund2.jpg);
    background-position: top, bottom;
    background-repeat: no-repeat, repeat-y;
    background-size: 194%, 194%;
    }
/*Ariklar!*/
article {
background-color: rgba(90, 0, 0, 0.38);
padding: 5px;
background-image: url(oldpaper.png);
background-repeat: repeat-y;
background-size: 100%;
border-radius: 5px;
box-shadow: inset 0px 0px 20px 2px black; /*Ger en trevlig skugga på sindian av ramen..*/
color: rgb(255, 255, 255); /*Ändrar färgen på bokstäverna..*/
margin-top: 65px;
position: relative; /*Denna och Top: -75px gör så att artiklarna börjar strax under navigationen.*/
top: -75px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*LOWE LÄGGER IN NY MENY SAK */
nav { 
z-index: 5; /*gör att undermenyerna inte hamnar under artiklarna*/
position: relative;
} 
nav li #submenu1, nav li ul li #submenu2 { /*gör så att undermenyerna gömmer sig när de inte ska synas..*/
    display: block;  /*Submeny 1 och 2 får vara idn då det bara finns 2 submenyer som gör olika saker..*/
    /*jag låter display vara block här för då kan det bli en snygg transition*/
    transition: height 1s ease-in-out;
    height: 0;
    overflow: hidden;
} 
nav li:hover #submenu1, nav li #submenu1 li:hover #submenu2 { /*Gör så att undermenyn visas när man hovrar över li-taggarna..*/
    display: block;
    height: 148px;
    transition: height 1s ease-in-out;
} 
nav li:hover #fprint { /*ändrar hur fingreprinten är roterad.*/
-webkit-transform: r;
-webkit-transform: rotate(3deg);
}
nav ul li a {
box-shadow: inset 0px 14px 138px -27px rgba(0, 0, 0, 0.81); /*Denna gör navigation lite mörkare, den under gör sp att de ärvande menyerna inte påverkas..*/
}
nav ul li ul li a {
box-shadow: inset 0 0px 0px 0px black; 
}
#fprint {
background-image: url(fprint.png);
background-position: 50% -2px;
background-repeat: no-repeat;
-webkit-transform: rotate(27deg);
height: 31px;
position: relative;
z-index: 40;
transition: 0.5s ease-in-out;
}

#submenu2 {
position: absolute;
margin: 0 40px 10px 0px;
background-color: #260101;
margin-top: -1px;
border-right: 2px black solid;
/*border-bottom: 2px black solid;*/
transition: 0.2s ease-in-out; /*animerar lite fint*/
}
#submenu2 li {
width: 100px;
box-shadow: 4px 9px 15px 7px rgba(27, 0, 0, 0.61);
transition: 0.2s ease-in-out; /*animerar lite fint*/
}
/*Detta här över är min meny+submeny, testad på mobil och fungerar, vart tvungen att använda IDn för att 
nav li ul li <-- påverkar alla i nav li ul li ul li: vilket som gör att submenyn till tankar syntes utan att 
hålla muspekaren över den...*/

.meny-wrapper{
    margin: 0 10%; /*Centrerar titeln på sidan och ger margin så att 5% kapas på båda sidorna*/
    padding: 40px 0px; /*Gör den lite högre så att man kan ha en bild där sen*/ 
}
.meny-wrapper h1 { /*h1-taggar i denna ska vara centrerade..*/
    text-align: center;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

      

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
    
.main-container {
background-image: url(../images/bakgrund.jpg);
background-image: url(../images/bakgrund.jpg), url(../images/bakgrund1.jpg);
background-position-x: 50%, 50%;
background-repeat: no-repeat, repeat-y;
background-size: 194%, 194%;
}

    
}


@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    /*LOWE LÄGGER IN*/
    .main-container {
    background-image: url(../images/bakgrund.jpg);
    background-image: url(../images/bakgrund.jpg), url(../images/bakgrund1.jpg);
    background-position-x: 50%, 50%;
    background-repeat: no-repeat, repeat-y;
    background-size: 2240px, 2240px;
    }
    article{
        padding-left: 20px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}